<main class="page lanidng-page">
    <section class="portfolio-block block-intro" style="background: #ffffff;">
        <div class="container amano-form-container">
            <form class="form-signin" method="POST" action="<%=`/account/${currentUser._id}/update?_method=PUT`%>">
                <h2>Edit Account</h2>
                <br />
                <input class="form-control" type="text" name="first" id="inputFirstName" value="<%= currentUser.name.first %>" placeholder="First Name" autofocus><br />
                <input class="form-control" type="text" name="last" id="inputLastName" value="<%= currentUser.name.last %>" placeholder="Last Name"><br />
                <input class="form-control" type="email" name="email" id="inputEmail" value="<%= currentUser.email %>" placeholder="Email Address" required>
                <!-- <input class="form-control" type="phone" name="phone" id="inputPhone" value="" placeholder="Phone Number" required> -->
                <!-- <input class="form-control" type="text" name="zipCode" id="inputZipCode" pattern="\d*" value="<%= currentUser.zipCode %>" placeholder="Zip Code" required> -->
                <br />
                <div class="text-right">
                    <button class="btn btn-amano" type="submit">Update</button>
                </div>
              </form>
        </div>
    </section>
</main>