<main>
    <section class="portfolio-block block-intro" style="background: #ffffff;">
        <div class="container">
            <h1><%= currentUser.name.first %> <%= currentUser.name.last %></h1>
            <div class="card-deck">
                <div class="card">
                    <div class="card-header">
                        <h4>Account Details</h4>
                    </div>
                    <div class="card-body">
                        <p><strong>Name:</strong> <%= currentUser.name.first %> <%= currentUser.name.last %></p>
                        <p><strong>Email:</strong> <%= currentUser.email %></p>
                        <p><strong>Zip Code:</strong> <%= currentUser.zipCode %></p>
                        <p><strong>Account Type:</strong> <% if (currentUser.isAdmin) { %>
                            Admin
                        <% } else { %>
                            Technician
                        <% } %>
                        </p>
                        <div class="card-footer text-right">
                            <a class="btn btn-amano" href="<%=`/account/${currentUser._id}/edit`%>">
                                Edit
                            </a>
                
                            <a class="btn btn-amano" href="<%=`/account/${currentUser._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete your account? This action is irreversible.')">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br />    
        </div>
    </section>
</main>