<main class="page lanidng-page">
    <section>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="/dashboard">All Pools</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/alerts">Pools with Alerts</a>
            </li>
            <!-- WILL BE PART OF LATER VERSION: -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="/dashboard/chemicals-to-bring">Chemicals to Bring</a>
            </li> -->
            <li class="nav-item">
                <a href="/customer/new" class="nav-link">Add New Client</a>
            </li>
        </ul>
        <div class="container">
            <br>
            <br>
            <% let numCustomers=Object.keys(customers).length %>
                <% if (numCustomers> 0) { %>
                    <% let i = 0 %>
                    <% customers.forEach(customer=> { %>
                        <% let currentAlerts = alerts[i] %>
                        <% i += 1 %>
                        <% if (typeof currentAlerts != 'undefined' && (currentAlerts.pHAlert != "Green" || currentAlerts.clAlert != "Green" || currentAlerts.alkAlert != "Green")) { %>
                            <a style="color:black;" href="<%= `/customer/${customer._id}` %>">
                                    <h1><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                                        <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                                        <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                                      </svg>&nbsp;<%= customer.custFName %> <%= customer.custLName %></h1>
                                </a>
                        <% } else { %>
                            <a style="color:black;" href="<%= `/customer/${customer._id}` %>">
                                <h1><%= customer.custFName %> <%= customer.custLName %></h1>
                            </a>
                        <% } %>
                        <p><%= customer.address %> &nbsp; | &nbsp; <%= customer.email %> &nbsp; | &nbsp; <%= customer.phone %></p>
                        <!-- FOR UPCOMING VERSION -->
                        <!-- <div class="card" style="background-color:#E7E7E7; border:none;">
                            <div class="card-body">
                                <p>[DATE]: This will be notes...</p>
                            </div>
                            <div class="text-right" style="padding:10px;">
                                <a class="btn btn-amano" href="">
                                    View Notebook
                                </a>
                                <a class="btn btn-amano" href=""
                                    onclick="return confirm('Are you sure you want to delete this record?')">Add Note</a>
                            </div>
                        </div>
                        <br /> -->
                        <div class="card" style="background-color:#E7E7E7; border:none;">
                            <div class="card-body">
                                <h5>Alerts</h5>
                                <% if (typeof currentAlerts === 'undefined') { %>
                                    <p>No alerts.</p>
                                <% } else if (typeof currentAlerts != 'undefined' && (currentAlerts.pHAlert != "Green" || currentAlerts.clAlert != "Green" || currentAlerts.alkAlert != "Green")) { %>
                                    <ul>
                                        <% if (currentAlerts.pHAlert != null && currentAlerts.pHAlert != "Green") { %>
                                            <li>
                                                <%= currentAlerts.pHAlert === "Low" ? "pH levels are too low." : "pH levels are too high." %>
                                            </li>
                                        <% } %>
                                        <% if (currentAlerts.clAlert != null && currentAlerts.clAlert != "Green") { %>
                                            <li>
                                                <%= currentAlerts.clAlert === "Low" ? "Chlorine levels are too low. " : "Chlorine levels are too high." %>
                                            </li>
                                        <% } %>
                                        <% if (currentAlerts.alkAlert != null && currentAlerts.alkAlert != "Green") { %>
                                            <li>
                                                <%= currentAlerts.alkAlert === "Low" ? "Alkalinity levels are too low." : "Alkalinity levels are too high." %>
                                            </li>
                                        <% } %>
                                    </ul>
                                <% } else { %>
                                    <p>Pool levels are looking good.</p>
                                <% } %>
                                <hr />
                                <h5>Current Levels</h5>
                                <% if (customer.pools.length === 0) { %>
                                    <p>Pool has not been set up yet</p>
                                   
                                <% } else { %>
                                <div class="row" style="width:375px;">
                                    <p><%=  %></p>
                                    <div class="col" >
                                        <p><strong>pH:</strong> <%= currentAlerts.pHRead %></p>
                                    </div>
                                    <div class="col">
                                        <p><strong>Cl:</strong> <%= currentAlerts.clRead %></p>
                                    </div>
                                    <div class="col">
                                        <p><strong>Alk:</strong> <%= currentAlerts.alkRead %></p>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                            <div class="text-right" style="padding:10px;">
                                <% let poolLength = Object.keys(customer.pools).length - 1%>
                                <% if (customer.pools[poolLength] != undefined) { %>
                                    <a class="btn btn-amano" href="<%= `/dashboard/${customer._id}/${customer.pools[0]._id}` %>">
                                        View Dashboard
                                    </a>
                                <% } else { %>
                                    <a class="btn btn-amano" href="<%= `/dashboard/${customer._id}/add-pool` %>">
                                        Add Pool
                                    </a>
                                <% } %>
                            </div>
                        </div>
                       
                        <a href="<%=`/customer/${customer._id}/edit`%>">
                            Edit Customer
                        </a> &nbsp;
                        <a href="<%=`/customer/${customer._id}/delete?_method=DELETE` %>"
                            onclick="return confirm('Are you sure you want to delete this record?')">Delete Customer</a>
                        <br /><br /><br />
                <% }); %>
        <% } else { %>
        <p>Hmmm... Couldn't find any clients.</p>
        <a href="<%= `/customer/new` %>" class="btn btn-lg btn-primary btn-amano">Add a Client</a>
        <% } %>
        <br />
    </div>

        </div>
    </section>
</main>
<!-- FOR UPCOMING VERSION: -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.7.2/echarts-en.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.0.0/echarts.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js"></script>
<script src="/js/buildLevelGauges.js"></script> -->