<!-- The JS files for the charts can be found in public/dataVis-->
<body>
    <a class="btn btn-amano" style="margin: 15px;" href="/dashboard">Return</a>
    <section style="background: white;">
        <div class="text-center">
            <br />
            <img class="avatar-single" src="/img/<%= typeof customer.avatar != 'undefined' ? customer.avatar : 'blank_avatar.png' %>">
            <h1 style="padding-bottom: 10px; padding-top: 25px;"><%= customer.custLName %> Pool Dashboard</h1>
            <h4><%= customer.address %></h4>
            <h4 style="padding-bottom: 15px;"><%= customer.city %>, <%= customer.state %> <%= customer.zipCode %></h4>
            <h4 style="padding-bottom: 75px;"><%= customer.phone %></h4>
        </div>
        <div class="container">

            <% if (pool != undefined) { %>
                <div class="amano-dash-container">
                    <h3 style="padding-bottom: 45px;">Current Levels</h3>
                    <div class="row">
                        <div class="col-sm" id="ph-G" style="width:358px; height:200px;"></div>
                        <div class="col-sm" id="cl-G" style="width:358px; height:200px;"></div>
                        <div class="col-sm" id="alk-G" style="width:358px; height:200px;"></div>
                    </div>
                </div>
                <div class="amano-dash-container">
                    <h3 style="padding-bottom: 45px;">Trends</h3>
                    <div class="row">
                        <canvas id="ph-T" width="200" height="50" style="padding-left:20px; padding-right:20px;"></canvas>
                    </div>
                    <div class="row">
                        <canvas id="cl-T" width="200" height="50" style="padding-left:20px; padding-right:20px;"></canvas>
                    </div>
                    <div class="row">
                        <canvas id="alk-T" width="200" height="50" style="padding-left:20px; padding-right:20px;"></canvas>
                    </div>
            <% } else { %>
                <h4><i>There are currently no readings to show for this pool.</i></h4>
                <h4><i>Need help setting up your device?</i> <a href='/help'>Get help</a></h4> 
            <% } %>
            </div>
            <div class="amano-dash-container">
                <h3>Pool Details</h3><br />
                <div class="row">
                    <div class="col-lg-2">
                        <img src="/img/swim-pool-dash.jpg" style="height: 250px;">
                    </div>
                    <div class="col-lg-4">
                        <ul>
                            <li>
                                <h6>Installed by Concord</h6>
                            </li>
                            <li>
                                <h6>Chlorine Pool</h6>
                            </li>
                            <li>
                                <h6><%= pool.gallons %> Gallons</h6>
                            </li>
                            <li>
                                <h6>Vinyl</h6>
                            </li>
                            <li>
                                <h6>1 Year Warranty</h6>
                            </li>
                        </ul>
                    </div>
                </div>     
            </div><br />
        </div>
    </section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.7.2/echarts-en.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.0.0/echarts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js"></script>
<script src="/dataVis/pHGaugeMin.js"></script>
<script src="/dataVis/alkGaugeMin.js"></script>
<script src="/dataVis/clGaugeMin.js"></script>
<script src="/js/buildDashboard.js"></script>
<!-- <script type="text/javascript">
    const queryString = window.location.search;
    console.log(queryString);
</script> -->
