<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Amano Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <!-- Start Script References -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="/js/theme.js"></script>
    <!-- End Script References -->
</head>

<body>
    
    <!-- Start Navigation Bar -->
    <nav class="navbar navbar-expand-lg fixed-top portfolio-navbar pool-bg">
        <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler"
                data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <% if (loggedIn) { %>
                    <% if (currentUser && currentUser.isAdmin) { %>
                    <li class="nav-item"><a class="nav-link main-nav" href="<%= `/dashboard` %>">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link main-nav" href="/admin/users">Amano Technicians</a></li>
                    <li class="nav-item"><a class="nav-link main-nav" href="/customer">All Clients</a></li>
                    <li class="nav-item"><a class="nav-link main-nav" href="/admin/message">Tickets</a></li>
                    <% } else { %>
                    <li class="nav-item"><a class="nav-link main-nav"
                            href="<%= `/dashboard/${currentUser._id}` %>">Dashboard</a></li>
                    <% } %>
                    <li class="nav-item"><a class="nav-link main-nav"
                            href="<%=`/account/${currentUser._id}`%>"><%=`${currentUser.name.first} ${currentUser.name.last}`%></a>
                    </li>
                    <li class="nav-item"><a class="nav-link main-nav" href="/account/logout">Log Out</a></li>
                    <%} else {%>
                    <!-- If user is not logged in, show these nav items -->
                    <li class="nav-item"><a class="nav-link main-nav" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link main-nav" href="/account/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link main-nav" href="/account/register">Register</a></li>
                    <% } %>
                    
            </div>
            </ul>
        </div>
        </div>
    </nav>
    <!-- End Navigation Bar -->

    <!-- Start Main Content -->
    <div>
        <%- body %>
    </div>
    <!-- End Main Content -->

    <!-- Start Footer -->
    <footer class="page-footer footer-link">
        <div class="container">
            <div class="links"><a href="/">Amano</a><a href="/faq">FAQ</a><a href="/help">Help</a></div>
            <div class="social-icons"><a href="/help"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                        class="icon ion-social-instagram-outline"></i></a>
                <a href="#"><i class="icon ion-social-twitter"></i></a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

</body>

</html>