<main class="page lanidng-page">
    <section class="portfolio-block block-intro" style="background: #ffffff;">
        <div class="container">
            <% let numTickets = Object.keys(tickets).length %>
            <br />
            <h1><span>Tickets (<%= numTickets %>)</span></h1>
            <% if (numTickets > 0) { %>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Subject</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% tickets.forEach((ticket) => { %>
                        <tr>
                        <td><%= dateFormat(ticket.dateCreated, "mediumDate") %></td>
                        <td><%= ticket.subject %></td>
                        <td><%= ticket.email %></td>
                        <td><a href="/admin/message/<%= ticket._id %>/edit" class="button1">View</a></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } else { %>
                <br />
                <p>There are currently no unresolved tickets!</p>
            <% } %>
        </div>
    </section>
</main>