<main>
    <section class="portfolio-block block-intro" style="background: #ffffff;">
        <div class="container amano-form-container">
            <div class="data-form">
                <form class="form-signin" method="POST" action="<%=`/customer/${customer._id}/update?_method=PUT`%>">
                  <h2>Edit Customer</h2>
                  <br />
                  <input class="form-control" type="text" name="first" id="inputFirstName" value="<%= customer.custFName %>" placeholder="First Name" autofocus>
                  <input class="form-control" type="text" name="last" id="inputLastName" value="<%= customer.custLName %>" placeholder="Last Name">
                  <input class="form-control" type="email" name="email" id="inputEmail" value="<%= customer.email %>" placeholder="Email Address" required>
                  <input class="form-control" type="phone" name="phone" id="inputPhone" value="<%= customer.phone %>" placeholder="Phone Number" required>
                  <input class="form-control" type="text" name="address" id="inputAddress" value="<%= customer.address %>" placeholder="Address" required>
                  <input class="form-control" type="text" name="city" id="inputCity" value="<%= customer.city %>" placeholder="City" required>
                  <input class="form-control" type="text" name="state" id="inputState" value="<%= customer.state %>" placeholder="State" required>
                  <input class="form-control" type="text" name="zipCode" id="inputZipCode" pattern="\d*" value="<%= customer.zipCode %>" placeholder="Zip Code" required>
                  <br />
                  <button class="btn btn-lg btn-primary btn-block btn-amano" type="submit">Update</button>
                </form>
              </div>
        </div>
    </section>
</main>

