<main class="page lanidng-page">  
    <section class="portfolio-block block-intro">
        <div class="container">
            <br>
            <br>
            <h1>All Amano Clients</h1>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Client Name</th>
                        <th>Email</th>
                        <th>Zip Code</th>
                        <th>Pool</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% customers.forEach(customer => { %>
                    <tr>
                        <td>
                            <a href="<%= `/customer/${customer._id}` %>">
                                <%= customer.custFName %> <%= customer.custLName %>
                            </a>
                        </td>
                        <td>
                            <%= customer.email %>
                        </td>
                        <td>
                            <%= customer.zipCode %>
                        </td>
                        <td>
                            <% let poolLength = Object.keys(customer.pools).length - 1%>
                            <% if (customer.pools[poolLength] != undefined) { %>
                                <a href="<%= `/dashboard/${customer._id}/${customer.pools[poolLength]}` %>">View Dashboard</a>
                            <% } else { %>
                                <a href="<%= `/dashboard/${customer._id}/add-pool` %>">Add Pool</a>
                            <% } %>
                        </td>
                        <td>
                            <a href="<%=`/customer/${customer._id}/edit`%>">
                                Edit
                            </a>
                        </td>
                        <td>
                            <a href="<%=`/admin/customer/${customer._id}/delete?_method=DELETE` %>"
                                onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            <br>
        </div>
    </section>
</main>