<main class="page lanidng-page">  
    <section class="portfolio-block block-intro">
        <div style="padding-left:25px; padding-right:25px; padding-bottom:5px;" class="nav nav-tabs" role="group">
            <button class="btn active" type="button">All Pools</button>
            <button class="btn" type="button">Pools With Alerts</button>
            <button class="btn" type="button">Chemicals to Bring</button>
            <div>
                <a class="btn" href="/customer/new">Add New Client</a>
            </div>
        </div>
        <div class="container">
            <br>
            <br>
            <h1>All Pools</h1>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Client Name</th>
                        <th>Email</th>
                        <th>Zip Code</th>
                        <th>Pool</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% customers.forEach(customer => { %>
                    <tr>
                        <td>
                            <a href="<%= `/customer/${customer._id}` %>">
                                <%= customer.custFName %> <%= customer.custLName %>
                            </a>
                        </td>
                        <td>
                            <%= customer.email %>
                        </td>
                        <td>
                            <%= customer.zipCode %>
                        </td>
                        <td>
                            <a href="<%= `/dashboard/${customer._id}/${customer.pools[0]}` %>">View Dashboard</a>
                        </td>
                        <td>
                            <a href="<%=`/customer/${customer._id}/edit`%>">
                                Edit
                            </a>
                        </td>
                        <td>
                            <a href="<%=`/customer/${customer._id}/delete?_method=DELETE` %>"
                                onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            <br>
        </div>
    </section>
</main>